

   /* CSS */
.button-59 {
    -fx-alignment: center;
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: 2;
    -fx-text-fill: #000;
    -fx-font-family: "Inter", sans-serif;
    -fx-font-size: 16px;
    -fx-font-weight: 600;
    -fx-pref-height: 48px;
    -fx-min-width: 140px;
    -fx-padding: 0 17px;
    -fx-focus-color: #171e29;
    -fx-faint-focus-color: #171e2922;
}

   .button-59:hover {
       -fx-border-color: #06f;
       -fx-text-fill: #06f;
   }

   .button-59:pressed {
       -fx-border-color: #06f;
       -fx-text-fill: #06f;
   }
